@{
    ViewData["Title"] = "Головна";
}

<div class="card border-light mb-3 border p-3 mt-4">
    <label style="font-style: italic; font-size: 20px; font-weight: 600; text-align: center;">Ломбард</label>
    <span style="font-style: initial; font-size: 17px; font-weight: 400;">
        <br />
        Даний веб-застосунок призначений для моніторингу фінансової сторони роботи ломбарду. 
        За допомогою нього можна додавати, редагувати та видаляти клієнтів, а також додавати, 
        редагувати та видаляти товари з можливістю фільтрування за різними статусами. Товари 
        можуть мають категорії, які також можна додавати та редагувати, але видаляти лише якщо 
        вони не мають прив'язаних товарів. При додаванні товару, створюється Іменна накладна з 
        датою прийняття товару та закінчення зберігання, а також іменем клієнта. Після збігу 
        терміну зберігання товару, статус змінюється на "на продажі", а після продажу формується 
        видаткова накладна. Для зручності користувача, присутня можливість завантаження звіту про роботу ломбарду.<br />
        <br />
        Крім того, веб-застосунок дозволяє здійснювати різні операції з товаром, зокрема повернення 
        товару, продаж товару та формування видаткових накладних. Користувач може легко відслідковувати 
        статус товарів, які знаходяться на зберіганні, на продажі, продані, просрочені чи повернені. 
        Крім того, зазвичай статуси можна змінювати шляхом клікання на відповідні кнопки, що робить 
        процес взаємодії з веб-застосунком більш зручним та ефективним. Загалом, веб-застосунок з 
        моніторингу фінансової сторони роботи ломбарду є потужним та зручним інструментом для управління 
        бізнесом, що дозволяє максимально ефективно контролювати процеси та оптимізувати витрати.
    </span>
</div>
